h1 {
	font-family: 'Sansita';
	font-size: 50px;
  	color: rgba(255, 0, 102, 0.6);
}

#header {
	background-color: black;
	width: 100%;
    padding: 10px 0px 0px 20px;
    margin-top: -20px;
    margin-left: -10px;
}
body {
	background:white;
}
.box {
	margine: 100px auto;
	width:300px;
	height:50px;
	position:relative;
	left: 1000px;
	top: 0px;
}
.container-1 {
	width:300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.container-1 .icon{
	position:absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
	font-size: 18px;
	/*-webkit-transition: all .55s ease;
	-moz-transition: all.55s ease;
	transition: all .55s ease;*/
}
.container-1 input#search{
	width: 50px;
	height:50px;
	background: rgb(13, 13, 13);
	border: none;
	font-size: 10pt;
	/*position: relative;*/
	float: left;
	color: #262626;
	padding-left: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;

  -webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	transition: width .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
	color: rgba(255, 0, 102, 0.6);
}
.container-1 input#search::-moz-placeholder {
	color: rgba(255, 0, 102, 0.6);
}

.container-1 input#search:focus, .container-1 input#search:active{
		outline: none;
		width:300px;
		float: left;
	}
.container-1:hover input#search{
	width: 300px;
}
.container-1:hover .icon{
	color:rgba(255, 0, 102, 0.6);
	/*-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	transform:scale(1.5);*/
}
{
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.container {
  width: 50%;
  margin: 0 auto;
	font-size: 16px;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: 12px 0;
  margin: 0;
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: 4px;
  width: 25%;
  margin: 0;
  background: rgba(255, 0, 102, 0.6);
  border: none;
  transition: .3s ease-in-out;
}
a:hover {
	color: rgba(255, 0, 102, 0.6);
	text-decoration: none;
}
/*ul.topnav {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: rgba(128, 128, 128, 0.1);
}
ul.topnav li{
	float:left;
}
ul.topnav li a{
	display: inline-block;
	color:#fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.topnav li a:hover {
	background-color: #555;
}
ul.topnav li.icon {
	display:none;
}
@media screen and (max-width:680px){
	ul.topnav li:not(:first-child) {
		display:none;
	}
	ul.topnav li.icon{
		float:right;
		display: inline-block;
	}
}
@media screen and (max-width:680px) {
	ul/topnav.responsive {
		position: relative;
	}
	ul.topnav.responsive li.icon{
		position: absolute;
		right: 0;
		top:0;
	}
	ul.topnav.responsive li{
		float:none;
		display: inline;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align: left;
	}
}
*/
.right.carousel-control, .left.carousel-control {
	display:none;
}

.carousel-container {
	background-color: rgb(128,0,51);
/*	width: 100%; */
	/*height: 720px;*/
}

/*.carousel-inner, .item active img {
	max-width: 100%;
	height: auto;
	z-index: 9;
	display: block;
}*/
.carousel-inner > h4 {
	position:absolute;
	left: 800px;
	top: 100px;
	transition: none;
	color: #fff;
	font-size: 15pt;
}
.carousel-caption > h2 {
	position: absolute;
	left: 500px;
	top: -585px;
	z-index: 10;
}
.carousel-image {
	z-index: 9;
	display: block;
	max-width: 100%;
	height: auto;
}

.carousel-inner > .item {
	width: auto; height: auto;
}


.carousel-indicators {
	z-index: 10;
}

.card-container {
	perspective: 1000px;
	z-index: 1;
	width: 250px;
	height: 500px;
}

/* flip the pane when hovered */
.card-container:hover .card-flip, .card-container.hover .card-flip {
	transform: rotateY(180deg);
}

/* speed */
.card-flip {
	height: 374px;
	transition: 0.6s;
	transform-style: preserve-3d;
	/* transform-origin: 67% 0; */
	position: relative;
}

.card-flip .flipped {
	transform: translateX(-100%) rotateY(-180deg);
}

/* hide back of pane during swap */
.front, .back {
	width: 250px;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	transform: rotateY(0deg);
}

.front img {
	width: 100%;
	height: auto;
}

/*back, initially hidden */
.back {
	transform: rotateY(180deg);
    background-color: #e0e0eb;
    overflow: auto;
    position: relative;
}

.back p {
	font-size: 18px;
	font-family: Calibri, sans-serif;
	text-align: center;
	color: grey;
	font-weight: lighter;
	width: 100%;
}

.back .back-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 0.2px solid grey;
}

.card-details {
	background-color: #e0e0eb;
	padding-top: 10px;
	padding-left: 10px;
	border-top: 1px solid grey;

}

.card-details a {
	color: black;
	text-decoration: none;
}
