h1 {
	font-family: 'Sansita';
	font-size: 50px;
  	color: rgba(255, 0, 102, 0.6);
}

#header {
	background-color: black;
	width: 100%;
    padding: 10px 0px 0px 20px;
    margin-top: -20px;
    margin-left: -10px;
}
ul.topnav {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: rgba(128, 128, 128, 0.1);
}
ul.topnav li{
	float:left;
}
ul.topnav li a{
	display: inline-block;
	color:#fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.topnav li a:hover {
	background-color: #555;
}
ul.topnav li.icon {
	display:none;
}
@media screen and (max-width:680px){
	ul.topnav li:not(:first-child) {
		display:none;
	}
	ul.topnav li.icon{
		float:right;
		display: inline-block;
	}
}
@media screen and (max-width:680px) {
	ul/topnav.responsive {
		position: relative;
	}
	ul.topnav.responsive li.icon{
		position: absolute;
		right: 0;
		top:0;
	}
	ul.topnav.responsive li{
		float:none;
		display: inline;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align: left;
	}
}

.card-container {
	perspective: 1000px;
	z-index: 1;
	width: 250px;
	height: 500px;
}

/* flip the pane when hovered */
.card-container:hover .card-flip, .card-container.hover .card-flip {
	transform: rotateY(180deg);
}

/* speed */
.card-flip {
	height: 374px;
	transition: 0.6s;
	transform-style: preserve-3d;
	/* transform-origin: 67% 0; */
	position: relative;
}

.card-flip .flipped {
	transform: translateX(-100%) rotateY(-180deg);
}

/* hide back of pane during swap */
.front, .back {
	width: 250px;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	transform: rotateY(0deg);
}

.front img {
	width: 100%;
	height: auto;
}

/*back, initially hidden */
.back {
	transform: rotateY(180deg);
    background-color: #e0e0eb;
    overflow: auto;
    position: relative;
}

.back p {
	font-size: 18px;
	font-family: Calibri, sans-serif;
	text-align: center;
	color: grey;
	font-weight: lighter;
	width: 100%;
}

.back .back-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 0.2px solid grey;
}

.card-details {
	background-color: #e0e0eb;
	padding-top: 10px;
	padding-left: 10px;
	border-top: 1px solid grey;

}

.card-details a {
	color: black;
	text-decoration: none;
}

